<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Yelpcamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 1</li>
                <li class="list-group-item">Info 1</li>
            </div>
        <div id='map' style='height: 400px;'></div>
        </div>
        <div class="col-md-9">
            <h1 class="campground-name"><%= campground.name%></h1>
            <div class="thumbnail">
                <img class="image-responsive" src="<%= campground.image%>">
                <div class="caption-full">
                    <h3 class="pull-right d-inline">$<%= campground.price%>/Night</h3>
                    <h4 class=""><a href="#"><%=campground.location%></a></h4>
                    <p class="description"><%=campground.description%></p>
                    <p>
                        Submitted by <strong><em><%= campground.author.username%>, <%= moment(campground.createdAt).fromNow() %></em></strong>
                    </p>
                    <% if(currentUser && (campground.author.id.equals(currentUser._id) || currentUser.isAdmin)){ %>
                        <!-- currentUser in the above condition will check if a currentUser is present or not.
                            If present then only campground.author.id.equals(currentUser._id) will get evaluated.
                            If we just write campground.author.id.equals(currentUser._id) in our condition it will
                            give an error saying can't read property _id of undefined i.e currentUser.
                            So if currentUser is present i.e defined then we will check campground.author.id.equals(currentUser._id).
                            If currentUser is undefined then short circuit the code and come out of the if statement
                         -->
                        <a href="/campgrounds/<%= campground._id%>/edit" class="btn btn-warning">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%= campground._id%>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row pad-bottom">
                        <div class="col-md-12">
                            <strong><%=comment.author.username%></strong>
                            <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                            <p>
                                <%= comment.text%>
                            </p>
                            <% if(currentUser && (comment.author.id.equals(currentUser._id) || currentUser.isAdmin)){ %>
                                <a href="/campgrounds/<%= campground._id %>/comments/<%=comment._id %>/edit" class="btn btn-xs btn-warning">Edit</a>
                                <form class="delete-form" action="/campgrounds/<%= campground._id%>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>


<script>
    // TO MAKE THE MAP APPEAR YOU MUST
    // ADD YOUR ACCESS TOKEN FROM
    // https://account.mapbox.com
    var lat = Number('<%= campground.lat %>');
    var lng = Number('<%= campground.lng %>');
    mapboxgl.accessToken = 'pk.eyJ1IjoicnV0dmlqMTIiLCJhIjoiY2todTk0djgyMGk5YTMwbzNwbGx5a2wzYiJ9.R86nYLWXN1qj-iQC5JNvLQ';
    var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/rutvij12/ckhubgcdb04ki19nxwg3o3c9d', // stylesheet location
    center: [lat, lng], // starting position [lng, lat]
    zoom: 9 // starting zoom
    });
    </script>


<%- include("../partials/footer") %>


